<!-- App Menu -->
<div id="menu" class="grid column-2 absolute-center z-index-10 flex-column" style="display:none;background:white;top:45%;height:65%;border-radius:10px;border-bottom:15px solid white;">
    <div class="display-flex">
        <h4 style="margin-left:10px;">Menu</h4>
        <button class="btn no-border relative z-index-10" style="width:14px;height:14px;padding:6px !important;border-radius:50%;margin:0 4px 0 auto;outline:none;" onclick="hideLayers()"><i class="fas fa-times"></i></button>
    </div>
    <!-- Menu items -->
    <div class="overflow-y-auto rowspan" style="height:100%;margin-top:-4px;font-family:arial;">
        <div class="menu-item grid column-5 center cursor-pointer" data-name="contacts">
            <span class="fas fa-phone-square" style="width:max-content;font-size:1.2rem;"></span><br>
            <span class="title">Contacts</span>
        </div>
        <div class="menu-item grid column-5 center cursor-pointer" data-name="online-store">
            <span class="fas fa-shopping-cart" style="width:max-content;font-size:1.2rem;"></span><br>
            <span>Online Store</span>
        </div>
        <div class="menu-item grid column-5 center cursor-pointer" data-name="my-business">
            <span class="fas fa-suitcase" style="width:max-content;font-size:1.2rem;"></span><br>
            <span class="title">My Business</span>
        </div>
        <div class="menu-item grid column-5 center cursor-pointer">
            <span class="fas fa-car" style="width:max-content;font-size:1.2rem;"></span> <span class="fas fa-plane-departure" style="width:max-content;font-size:1.2rem;"></span><br>
            <span class="title">Bookings</span>
        </div>
        <div class="menu-item grid column-5 center cursor-pointer">
            <span class="fas fa-user-md" style="width:max-content;font-size:1.2rem;"></span><br>
            <span class="title">Medicals</span>
        </div>
        <div class="menu-item grid column-5 center cursor-pointer">
            <span class="fas fa-ambulance" style="width:max-content;font-size:1.2rem;"></span><br>
            <span class="title">Emergency</span>
        </div>
        <div class="menu-item grid column-5 center cursor-pointer">
            <span class="fas fa-map-marked-alt" style="width:max-content;font-size:1.4rem;"></span><br>
            <span class="title">Map</span>
        </div>
        <div class="menu-item grid column-5 center cursor-pointer">
            <span class="fas fa-film" style="width:max-content;font-size:1.4rem;"></span><br>
            <span class="title">Cinema</span>
        </div>
        <div class="menu-item grid column-5 center cursor-pointer">
            <span class="fas fa-dice" style="width:max-content;font-size:16px;"></span><br>
            <span class="title">Games</span>
        </div>
        <div class="menu-item grid column-5 center cursor-pointer">
            <span class="fas fa-graduation-cap" style="width:max-content;font-size:16px;"></span><br>
            <span class="title">Education</span>
        </div>
        <div class="menu-item grid column-5 center cursor-pointer">
            <span class="far fa-newspaper" style="width:max-content;font-size:16px;"></span><br>
            <span class="title">News</span>
        </div>
        <div class="menu-item grid column-5 center cursor-pointer">
            <span class="fas fa-ad" style="width:max-content;font-size:16px;"></span><br>
            <span class="title">Adverts</span>
        </div>
        <div class="menu-item grid column-5 center cursor-pointer">
            <span class="fas fa-user-circle" style="width:max-content;font-size:16px;"></span><br>
            <span class="title">My Resume</span>
        </div>
        <div class="menu-item grid column-5 center cursor-pointer">
            <span class="fas fa-code" style="width:max-content;font-size:16px;"></span><br>
            <span class="title">Developers</span>
        </div>
    </div>
</div>