<!-- World Stories -->
<div class="story shadow relative rowspan overflow-x-auto display-flex flex-column" style="background:#ffffffeb;width:calc(100% - 4% - 30px);min-width:300px;border-radius:10px;margin:5px 10px 20px 10px;padding:2%;height:300px;">
                    
    <div class="display-flex">
        <small style="font-size:14px;margin:6px 4px;width:max-content;background:#f9f9f9;padding:4px;border-radius:6px;">World Stories</small>
        <input type="search" style="font-size:14px;margin:6px 8px;width:max-content;border:2px solid #ffaf92;outline:none;padding:6px;border-radius:14px;" placeholder="Find user"/>
    </div>

    <div class="display-flex" style="height:100%;">
        <div style="display:block;width:100%;overflow-x:auto;padding-bottom:2px;">
            <div class="story-item grid column-3 no-border no-padding" style="margin:2px !important;">
                
            </div>
            <div class="story-item grid column-3 no-border no-padding" style="margin:2px !important;">
                
            </div>
            <div class="story-item grid column-3 no-border no-padding" style="margin:2px !important;">
                
            </div>
            <div class="story-item grid column-3 no-border no-padding" style="margin:2px !important;">

            </div>
        </div>
    </div>
</div>