<%
    for (var i=0;i<2;i++){
%>
    <p>
        <div class="display-flex">
            <div class="avatar overflow-hide no-margin inline-block vertical-align-middle" style="border:3px solid #ff53118f;margin-left:10px !important;">
                <img class="absolute-center" src="../images/Abel.jpg"/>
            </div>
            <div style="max-width:70%;text-align:left;margin:auto auto auto 16px;height:max-content;">
                <h5 class="contact-name" style="margin:10px auto 0 auto;white-space:nowrap;">Abel Akponine</h5>
                <small class="contact-username margin-auto" style="color:#fb4600;">@kingabel.a</small>
                <div style="background:#f6f6f6;width:100%;padding:6px 10px;border-radius:10px;margin:8px 0 10px 0;white-space:pre-line;">
                    Helloo!
                    [nodemon] restarting due to changes...
                    [nodemon] starting `node app.js`
                    [nodemon] restarting due to changes...
                    [nodemon] starting `node app.js`
                    Server started at 4000
                    Connected.
                
                    Helloo!
                    [nodemon] restarting due to changes...
                    [nodemon] starting `node app.js`
                    [nodemon] restarting due to changes...
                    [nodemon] starting `node app.js`
                    Server started at 4000
                    Connected.
                
                </div>
            </div>
        </div>
    </p>
<%
    }
%>
